.textArea {
    width: 90%;
    margin: 0 auto;
    padding-top: 10%;
    line-height: 1.2;
}

.textArea p {
    color: #3f51b5;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: Karla, helvetica, arial, sans-serif;
    letter-spacing: 0.16rem;
}

.textArea h1 {
    color: #18242a;
    font-size: 48px;
}

.typewriter {
    color: #18242a;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.action {
    width: 40%;
    display: flex;
    align-items: center;
}

.btn {
    display: block;
    font-size: 16px;
    padding: 20px 30px;
    border-radius: 30px;
    transition: ease 300ms;
}

.videoContent {
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: -20%;
    width: 100%;
}
