.top{
  border-radius: 20px;
  position: relative;
  padding: 25px;
  background-color: #ffffff;
  margin-top: 70px;
  margin-bottom:50px;
  box-shadow: 0 5px 9px #3f51b5;
  text-align: left;
  width: 70rem;
margin-left: 45px;

}
.h{
  font-size: 25px;
  margin-top: 7px;
}
.j{
  font-size: 17px;
}
